<div class="page-header">
  <h1>Submit New Event</h1>
</div>

<%= react_component("NewEventPage", props: {authenticityToken: form_authenticity_token, members: @members, eventTypes: @event_types}, prerender: false) %>