<div id="resources-index-page" class="page">
  <%= render "shared/site_header" %>
  
  <div class="page-content">
    <%= react_component("OfficerResourcesPage", props: {authenticityToken: form_authenticity_token, resources: @resources}, prerender: false) %>
  </div>
</div>