<div id="site-home-page" class="page">
  <%= render "shared/site_header" %>
  
  <div class="page-content">
    <h1>Admin Home</h1>
    
    <div id="navigation">
      <div class="navigation-panels">
        <div class="navigation-panel-container">
          <a href=<%= rails_admin_path %>>
            <div class="navigation-panel-content">
              <div class="panel-icon">
                <i class="fas fa-tools"></i>
              </div>
              <div class="panel-label">
                <span>Club Manager Tool</span>
              </div>
            </div>
          </a>
        </div>
        <div class="navigation-panel-container">
          <a href=<%= admin_resources_path %>>
            <div class="navigation-panel-content">
              <div class="panel-icon">
                <i class="fas fa-book"></i>
              </div>
              <div class="panel-label">
                <span>Club Resources</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>