#new-event-page {
  @import '../members_autosuggest';
  
  margin-bottom: 100px;
  
  .selected-members-section {
    > div:first-of-type {
      margin-top: 10px;
    }
    
    .selected-member-row {
      display: flex;
      padding: 0 5px;
      align-items: center;
      
      .name {
        width: 200px;   
      }
      
      .drove-label {
        margin-left: 5px;
      }
    }
  }
}
