<div id="reimbursements-confirmation-page" class="page">
  <%= render "shared/site_header" %>
  
  <div class="message-box">
    We have recorded your reimbursement request. Thanks again for driving!
  </div>
</div>
