<div id="reimbursements-already-exists-page" class="page">
  <%= render "shared/site_header" %>
  
  <div class="message-box">
    Oops! A reimbursement for you was already recorded for this event. 
  </div>
</div>
